* body {
    margin: 0px;
    padding: 0px;
    font-family: "Story Script", sans-serif;
}
#topoContainer {
    width: 980px;
    height: 100px;
    margin: auto;
    /* background-color: lightgray; */
}
.espacoTop{
    padding: 0;
    margin: 0;
    height: 0;
}
#logo {
    width: 200px;
    height: 100px;
    float: left;
    /*background-color: lightgreen; */
    border-radius: 15px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}
#logo img {
    width: 55%;
    float: left;
    padding: 0;
    margin: 0;
    display: block;
    margin-top: -20px;
}
#menu {
    width: 780px;
    height: 100px;
    float: right;
    text-align: center;
    word-spacing: 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
} 
#menu a {
    color: rgb(175, 0, 172);    
    text-decoration: none;
    font-size: 20px;
    line-height: 100px;
    margin: 0 auto;
    margin-left: 15px;
    margin-right: 15px;
}
#menu a:hover {
    color: rgb(118, 0, 147);
    font-size: 22px;
}
#menu button {
    width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: rgb(175, 0, 172);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
#menu button:hover {
    border-radius: 10px;
    background-color: rgb(118, 0, 147);
    cursor: pointer;
}
#menu button p{
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    line-height: 400px;
    margin-left: 20px;
    background-color: #fff;
}
.sessao-jah {
    width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 120px;
  background-color: #fffdfd; 
  gap: 40px;
  margin-right: 20px;
  margin-left: 20px;

}

.texto {
  flex: 1;
  max-width: 600px;
}

.texto h2 {
  color: #2e004f;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.3;
}

.texto .sub {
  color: #4c0088;
  font-size: 20px;
  margin: 20px 0;
  font-weight: 600;
}

.texto p {
  color: #444;
  font-size: 16px;
  line-height: 1.6;
}

.imagem {
  flex: 1;
  text-align: center;
}

.imagem img {
  max-width: 200px;
  height: auto;
}

#banner-divino {
    margin-top: 10px;
    width: 390px;
    height: 300px;
    /* background-color: mediumspringgreen; */
    margin-left:121px;
    border-radius: 20px;
    position: static;
    overflow: hidden;   
}
#banner-divino img {
    width: 10%;
    height: 10%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

#banner {
    margin-top: 10px;
    width: 980px;
    height: 300px;
    /* background-color: mediumspringgreen; */
    margin-left:121px;
    border-radius: 20px;
    position: static;
    overflow: hidden;
}
#banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}

#banner a{
    border-radius: 15px;
    text-decoration: none;
    font-size: 30px;
    line-height: 400px;
    margin-left: 20px;
}
#bannerEmpresa{
    margin-top: 10px;
    width: 950px;
    height: 300px;
    margin-left:121px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    /*background-color: rgb(175, 0, 172);*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}
#bannerEmpresa img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; ; 
}
#conteudoSite {
    width: 980px;
    margin: 25px auto 0 auto;
    position: static;
    display: flex;
    gap: 20px;
    position: static;
    
}
/*parte 1 do texto*/
#conteudoSite2 {
    margin-top: 10px;
    width: 980px;
    height: 350px;
    margin: 25px auto 0 auto;
    position: relative;
    display: flex;
    gap: 20px;
    
}   
#esquerda2{
    position: relative;
    padding-top: 10px;
    width: 60%;
    height: 350px;
    float: left;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    text-align: justify; 
    margin-left: 20px;
}

#esquerda2 h1 {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
    text-align: left; 
   color: rgb(247, 223, 13);
    margin-top: 10px;
}
#esquerda2 p {
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
   color: rgb(0, 0, 0);
    margin-top: 10px;
}
#direita2{
    position: relative;
    padding-top: 10px;
    width: 40%;
    height:350px;
    float: right;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    text-align: center; 

}
#direita2 img {
  width: 75%;
  height:350px;
  border-radius: 15px;
  position: relative;
    padding-top: -10px;
}
/*final parte 1 do texto*/
/*parte 2 do texto*/
#conteudoSite3 {
    margin-top: 10px;
    width: 980px;
    height: 350px;
    margin: 25px auto 0 auto;
    position: relative;
    display: flex;
    gap: 20px;
    
}   
#direita3{
    position: relative;
    padding-top: 10px;
    width: 60%;
    height: 350px;
    float: right;
    border-radius: 15px;
    text-align: justify; 
    margin-left: auto;
}

#direita3 h1 {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
    text-align: left; 
   color: rgb(247, 223, 13);
    margin-top: 10px;
}
#direita3 p {
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
   color: rgb(0, 0, 0);
    margin-top: 10px;
}
#esquerda3{
    position: relative;
    padding-top: 10px;
    width: 40%;
    height:350px;
    float: left;
    border-radius: 15px;
 
    text-align: center; 
}
#esquerda3 img {
  width: 50%;
  height:350px;
  border-radius: 15px;
  position: relative;
    padding-top: -10px;
}
/*final parte 2 do texto*/

      /*parte das 3 divs de compra*/
#esquerda {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height: 350px;
    float: right;
    border-radius: 15px;
    background-color: rgb(88, 0, 106);
    text-align: center; 
}


#esquerda h1 {
    font-family: 'Dancing Script', cursive;
    
    font-family: 'Brush Script MT', 'cursive'; 
    font-size: 2.5em; 
    text-align: center; 
   color: rgb(250, 229, 33);
    margin-top: 10px;
}


#esquerda p {
    
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
    padding: 0 20px; 
    line-height: 1.4;
    color: #f0f0f0; 
}


#esquerda a {
    text-decoration: none;
    font-size: 30px;
    line-height: 500px;
    margin-left: 20px;
}
#meio {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height: 350px;
    float: right;
    border-radius: 15px;
    background-color: rgb(88, 0, 106);
    text-align: center; 
}


#meio h1 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Brush Script MT', 'cursive'; 
    font-size: 2.5em; 
    text-align: center; 
   color: rgb(250, 229, 33);
    margin-top: 10px;
}


#meio p {
   
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
    padding: 0 20px; 
    line-height: 1.4;
    color: #f0f0f0; 
}


#meio a {
    text-decoration: none;
    font-size: 30px;
    line-height: 500px;
    margin-left: 20px;
}
#direita {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height: 350px;
    float: right;
    border-radius: 15px;
    background-color: rgb(88, 0, 106);
    text-align: center; 
}


#direita h1 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Brush Script MT', 'cursive'; 
    font-size: 2.5em;
    text-align: center; 
   color: rgb(250, 229, 33);
    margin-top: 10px;
}


#direita p {

    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
    padding: 0 20px; 
    line-height: 1.4;
    color: #f0f0f0; 
}


#direita a {
    text-decoration: none;
    font-size: 30px;
    line-height: 500px;
    margin-left: 20px;
}
#direita-canto {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height: 350px;
    float: right;
    border-radius: 15px;
    background-color: rgb(88, 0, 106);
    text-align: center; 
}


#direita-canto h1 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Brush Script MT', 'cursive'; 
    font-size: 2.0em;
    text-align: center; 
   color: rgb(250, 229, 33);
    margin-top: 10px;
}


#direita-canto p {

    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
    padding: 0 20px; 
    line-height: 1.4;
    color: #f0f0f0; 
}


#direita-canto a {
    text-decoration: none;
    font-size: 30px;
    line-height: 500px;
    margin-left: 20px;
}
#direita button,#direita-canto button, #meio button, #esquerda button {
width: 90px;
    height: 40px;
    margin: 0 auto;
    background-color: rgb(175, 0, 172);
    border: none;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin-left: 15px;
    margin-right: 15px; 
    margin-top: 10px;
    font-family: "Story Script", sans-serif;
}
#direita button:hover,#direita-canto button:hover, #meio button:hover, #esquerda button:hover {
    border-radius: 10px;
    background-color: rgb(118, 0, 147);
    cursor: pointer;
}
#direita-canto .imagem {
    top: -70px; 
    width: 120px;
    height: auto;
}

.imagem{
    position: absolute;
    top: -85px; 
    left: 55%;
    transform: translateX(-50%);
    transform-origin: center center;
}
.imagem img{
    width: 140px;
    height: auto;
}
.imagem img:hover {
    transform: rotate(10deg) scale(1.2); 
    transition: all 0.5s ease-in-out;
}
/*final da parte das 3 divs*/
/*parte saúde*/
#saúde {
    width: 980px;
    height: 270px;
    /*background-color: rgb(118, 0, 147);*/
    margin-top: 50px;
    margin-left: 95px;
    margin-right: 10px;
}
#saúde1 {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height: 170px;
    float: right;
    border-radius: 15px;
    background-color: rgb(140, 44, 159);
    text-align: center;
}
#saúde2 {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height: 170px;
    float: right;
    border-radius: 15px;
    background-color: rgb(174, 78, 193);
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

#saúde3 {
    position: relative;
    padding-top: 80px;
    width: 300px;
    height:170px;
    float: right;
    border-radius: 15px;
    background-color:rgb(140, 44, 159);
    text-align: center; 
}
#saúde1 h1, #saúde2 h1, #saúde3 h1 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Brush Script MT', 'cursive'; 
    font-size: 2.0em; 
    text-align: center; 
   color: rgb(250, 229, 33);
    margin-top: 10px;
}
#saúde2 p{
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;; 
    padding: 0 20px; 
    line-height: 1.4;
    color: #f0f0f0; 
}
#saúde1 p, #saúde3 p {
    
    font-family: 'Arial', sans-serif; 
    font-size: 0.9em;
    font-weight: 300;
    text-align: left; 
    padding: 0 20px; 
    line-height: 1.4;
    color: #f0f0f0; 
}

.ícone{
    position: absolute;
    top: -20px; 
    left: 55%;
    transform: translateX(-50%);
    transform-origin: center center;
}
.ícone img{
    width: 140px;
    height: auto;
}
.ícone img:hover {
    
    transform: rotate(10deg) scale(1.2); 
    transition: all 0.5s ease-in-out;
}
/*final parte saúde*/


.localizacao-jah {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4B0082; 
    background-image: linear-gradient(to right, rgb(174, 78, 193), rgb(140, 44, 159));
    color: #fff;
    padding: 80px 20px 50px 20px; 
    min-height: 400px;
    position: relative;
    overflow: hidden; 
    margin-top: 75px;
}


.conteudo-texto {
    max-width: 500px;
    text-align: left;
    margin-left: 50px;
    z-index: 2; 
}

.conteudo-texto h1 {
    font-size: 2.5em;
    margin-bottom: 0.1em;
}

.conteudo-texto p {
    font-size: 1.2em;
    font-weight: 300;
    margin-top: 0;
}


.botao-localizar {
    background-color: white;
    color: #4B0082;
    border: none;
    border-radius: 20px; 
    padding: 10px 25px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center; 
    text-decoration: none; 
    justify-content: center;
}

.botao-localizar:hover {
    background-color: #f0f0f0;
}

.botao-localizar i {
    margin-left: 10px;
}


.ilustracao {
    width: 300px;
    z-index: 1;
    position: relative;
    transform: rotate(-10deg); 
    margin-right: 50px;
}

.imagem-mapa { 
    width: 300px; 
    height: auto; 
    display: block;
}


.wave-divider {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100px; 
    z-index: 0; 
    transform: rotateX(180deg);
}


@media (max-width: 768px) {
    .localizacao-jah {
        flex-direction: column; 
        text-align: center;
        padding: 70px 10px 40px 10px; 
    }

    .ilustracao {
        margin: 0 auto 30px auto; 
        transform: rotate(0deg); 
    }

    .conteudo-texto {
        margin-left: 0;
        text-align: center;
    }

    .conteudo-texto h1 {
        font-size: 2em;
    }
    
    .imagem-mapa { 
        width: 150px; 
    }

    .wave-divider {
        height: 70px; 
    }
}
/*parte 1 do contato*/
.contatos-divino {
  background-color: #fff;
  color: #2d004f;
  text-align: center;
  padding: 60px 0;
  font-family: "Poppins", sans-serif;
}

.contatos-divino h2 {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 40px;
}

.contatos-divino h2 span {
  color: #f8e14b; /* amarelo dourado */
}

.canais {
  display: flex;
  justify-content: center;
  gap: 80px;
  flex-wrap: wrap;
}

.item {
  text-align: left;
  min-width: 180px;
}

.item h3 {
  font-size: 18px;
  color: #2d004f;
  margin-bottom: 5px;
  font-weight: 700;
}

.item p {
  color: #444;
  font-size: 15px;
}

.item a {
  color: #4a007a;
  text-decoration: none;
  font-weight: 600;
}

.item a:hover {
  text-decoration: underline;
}

.redes {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.redes img {
  width: 28px;
  height: 28px;
  border-radius: 5px;
  transition: transform 0.2s;
}

.redes img:hover {
  transform: scale(1.1);
}
/*final parte 1 do contato*/
 /*parte 2 do contato*/
 .contato-divino {
  display: flex;
  align-items: stretch;
  background-color: #3e004f; /* roxo escuro */
  color: #fff;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.imagem {
  flex: 1;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formulario {
  flex: 1;
  padding: 60px 80px;
  background-color: #3e004f;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h1 {
  font-size: 42px;
  font-weight: 800;
  margin-bottom: 15px;
  line-height: 1.2;
}

.formulario h1 span {
  color: #f8e14b; /* amarelo dourado */
}

.formulario p {
  margin-bottom: 25px;
  font-size: 16px;
  color: #eee;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.linha {
  display: flex;
  gap: 15px;
}

input, textarea {
  background-color: transparent;
  border: 1px solid #f8e14b;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  flex: 1;
  font-size: 15px;
}

input::placeholder, textarea::placeholder {
  color: #ddd;
}

textarea {
  resize: none;
}

button {
  align-self: flex-end;
  background-color: #4be35a; /* verde claro vibrante */
  color: #fff;
  border: none;
  border-radius: 30px;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #35b945;
}
/*final parte do contato*/
